<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520639171957-02ltvger1ik2j60lvpq1rrhck4p9mm3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520639171957-02ltvger1ik2j60lvpq1rrhck4p9mm3p</string>
	<key>API_KEY</key>
	<string>AIzaSyB22W5lQ4HU0UXh8F66FROfuZyy8xomWw0</string>
	<key>GCM_SENDER_ID</key>
	<string>520639171957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.FirstApp.Weather</string>
	<key>PROJECT_ID</key>
	<string>weather-592a0</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-592a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520639171957:ios:920e7e5390cfd0808fd73c</string>
</dict>
</plist>